@import "tailwindcss";


html,
body {
  background-color: #f8f9f9; /* page background */
  color: #0f1724;            /* main text */
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}


.app-logo-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f5f0f0;
  border: 3px solid #0b6e4f;
  border-radius: 50px;
  padding: 8px;
  width: fit-content;
  transition: background 0.3s, border-color 0.3s;
}

.app-logo-wrapper img {
  height: 18px;
  width: auto;
  display: block;
}


/* .dark .app-logo-wrapper {
  background: #0f1724;
  border-color: #0b6e4f;} */
